.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;    
}

.back button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
}

.back button:focus {
    outline: none;
}